*{
    margin: 0;
    padding: 0;
}
.menu-container{
    background-color: rgb(13, 6, 6);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.menus{
    display: flex;
}
.logo-photo{
    width:120px ;
}
.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
}
.item:hover{
    color: blue;
    cursor: pointer;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("./image/background.png"),linear-gradient(45deg,rgb(8,8,8),rgb(53,53,53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tittle{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: aqua;
    font-weight: bold;
    border: none;
}
.btn:hover{
   background-color:aquamarine;
   cursor: pointer;
}
.about-cointer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.about-tittle{
    text-align: center;
    padding: 20px;
}
.description-tittle{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.box{
    width: 240px;
    height: 290px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 70px;
}
.box-btn{
    background-color: gray;
    margin-top:10px;
}
.box-title{
    padding: 10px;

}
.box-description{
    padding: 5px;
}
.service-container{
    display: flex;
    justify-content:space-around; 
    padding: 20px;
    background-image: url("./image/background.png"),linear-gradient(45deg,rgb(8,8,8),rgb(53,53,53));
   
}
.contact-container{
    display: flex;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
    background-color: black;
    color: white;
}
.list{
    list-style: none;
    padding: 10px;
}
.style{
    padding: 10px;
}